// .upload_list_inline .ant-upload-list-item {
//   float: left;
//   width: 200px;
//   margin-right: 8px;
// }
// .upload_list_inline .ant-upload-animate-enter {
//   animation-name: uploadAnimateInlineIn;
// }
// .upload_list_inline .ant-upload-animate-leave {
//   animation-name: uploadAnimateInlineOut;
// }

// .leaflet-sbs-range {
//   position:relative !important;
//   background:none !important;
//   height:40px !important;
//   pointer-events:auto !important;
//   z-index:1500 !important;
//   }

//   .leaflet-sbs {
//   position:absolute !important;
//   height:100% !important;
//   width:100% !important;
//   z-index:1500 !important;
//   }
:global {
  .global-icon-normal {
    font-size: 22px;
  }
  .leaflet-control-layers-selector {
    position: relative;
    top: 7px;
  }
  // .leaflet-touch .leaflet-control-layers-toggle {
  //   width: 32px;
  //   height: 32px;
  // }
  // 图层按钮
  .leaflet-touch .leaflet-control-layers-toggle {
    width: 30px;
    height: 30px;
    background-image: none;
    padding-left: 4px;
    // padding-top: 3px;
    color: #000;
  }
  .leaflet-control-layers-selector {
    top: 2px; 
  }
  // 比例尺
  .leaflet-control-scale-line {
    border: 1px solid #000;
    border-top: none;
    background: rgba(255, 255, 255, 0.8);
  }
  .overlayMapsTile {
    height: 0;
    border-top: 1px solid #ddd;
    margin: 5px -10px 5px -6px; 
  }

}
