# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/dist/mapfile
/dist/mapshaper
/dist/Template
/dist/vtour

# public
/public/mapfile
/public/mapshaper
/public/Template
/public/vtour

# misc
.DS_Store
npm-debug.log*
