html,
body,
:global(#root) {
  height: 100%;
  overflow: hidden;
}

:global(#root > div) {
}
.upload-list-inline .ant-upload-list-item {
  float: left;
  width: 200px;
  margin-right: 8px;
}
.leaflet-control-scale-line {
  border: none !important;
}
